<a class="btn btn-danger btn-sm mr-1 mb-1" (click)="urlrouting()"><i class="fa fa-plus mr-1"></i>New</a>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col" >#</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">User Name</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of data ; let i= index;'>
            <td>{{i+1}}</td>
            <td class="text-center">{{list.name}}</td>
            <td class="text-center">{{list.userName}}</td>
            <td  class="text-center"> 
                <!-- <input class="form-check-input margin" type="checkbox" value='list.status' checked
                    [(ngModel)]="list.status" (change)="profilestatus(list)"> -->
                    <div class="custom-control custom-switch text-center">
                        <input type="checkbox" class="custom-control-input" id = 'status{{i}}' value='list.status' checked
                        [(ngModel)]="list.status" (change)="profilestatus(list)">
                        <label class="custom-control-label" for = 'status{{i}}' ></label>
                    </div>
            </td>
            <th class="text-center">
                <div class="custom-control custom-switch text-center">
                    <input type="checkbox" class="custom-control-input" id = 'edit{{i}}' value='list.edit' checked
                    [(ngModel)]="list.edit" (change)="profilestatus(list)">
                    <label class="custom-control-label" for = 'edit{{i}}' ></label>
                </div>
            </th>
            <td  class="text-center">
                <button class="btn btn-info btn-sm" (click)="edit(list)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" (click)="deleteSubAdmin(list)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <div *ngFor="let report of userReports">
    <div class="d-flex mb-3" (click)="gotoChat(message._id)" style="cursor: pointer;">
        <div class="p-2 statusIcon">
            <img class="msgImg"
                src="https://images.unsplash.com/photo-1489673446964-e1f989187ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=510&q=80"
                alt="Girl in a jacket" />
            <span class="onlineShow"></span>
        </div>
        <div class="p-2 ms-5">
            <p style="color: #7B8793; font-weight: 600;"> {{message.messages[0].name||"hello"}}
            </p>
            <div class="msgText" style="color: #AFBBC6">
                <div *ngIf="message.messages[message.messages.length-1].message && message.messages[message.messages.length-1].message.startsWith(base64); else elseCurrent">
                    <img [src]="message.messages[message.messages.length-1].message" height="48" width="48"/>
                </div>
                <ng-template #elseCurrent>
                {{message.messages[message.messages.length-1].message}}
                </ng-template>
            </div>
        </div>
        <div class="ms-auto p-2">
            
        </div>
    </div>
</div> -->