<div class="row">
    <div class="col-md-8">
        <input type="text" class="my-2 form-control ng-pristine ng-invalid ng-touched" [(ngModel)]=searchValue (ngModelChange)="searchFunction()"
        placeholder="Search by Name/Email/Phone"/>
    </div>
</div>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"class="text-center">Name</th>
            <!-- <th scope="col">Age</th> -->
            <!-- <th scope="col">Gender</th> -->
            <th scope="col"class="text-center">Phone</th>
            <!-- <th scope="col">Adreess</th> -->
            <th scope="col"class="text-center">Email</th>
            <th scope="col"class="text-center">Active/Inactive</th>
            <th scope="col" class="text-center">Assign</th>
            <th scope="col" class="text-center">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of data ; let i= index; '>
            <td>{{i+1}}</td>
            <td>{{list.name}}</td>
            <td>{{list.personalContact}}</td>
            <td>{{list.email}}</td>
            <td>
                <input class="form-check-input margin" type="checkbox" value='list.active' checked
                    [(ngModel)]="list.active" (change)="profilestatus(list)">
            </td>
            <td> 
                <button type="submit" class="btn btn-primary"(click)="packageLoad(list)">Package</button>
            </td>
             <td>
                <!-- <button class="btn btn-sm mr-1" [ngClass]="{'btn-success': list.BlockStatus === true, 'btn-danger': list.BlockStatus === false}" (click)="block(list)"><i class="fa fa-ban"></i></button> -->
                <button class="btn btn-danger btn-sm" (click)="delete(list)"><i class="fa fa-trash"></i></button>
                <!-- <button class="btn btn-danger btn-sm mx-1" (click)="block(list)"><i class="fa fa-thumbs-up"></i></button>
                <button class="btn btn-danger btn-sm" (click)="block(list)"><i class="fa fa-thumbs-down"></i></button> -->
            </td>
        </tr>
    </tbody>
</table> 