<div class="row align-items-center">
    <div class="col-md-8">
        <input type="text" class="my-2 form-control ng-pristine ng-invalid ng-touched" [(ngModel)]=searchValue
            (ngModelChange)="searchFunction(null)" placeholder="Search by Name/Email/Phone" />
    </div>
    <div class="col-md-4">
        <div class="btn-group ml-1">
            <div ngbDropdown display="dynamic" [placement]="placement" class="d-inline-block">
                <button class="btn btn-sm bg-light-secondary dropdown-toggle" id="dropdownBasic1" style="width: 150px;"
                    ngbDropdownToggle>{{currentFilter}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item w-100" (click)="searchFunction('All')">All</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('Active')">Active Users</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('In-Active')">Inactive User</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('Reported')">Reported Users</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('Premium')">Premium Users</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('Blocked')">Blocked Users</button>
                    <button class="dropdown-item w-100" (click)="searchFunction('DeleteRequested')">Delete Requests</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Age</th> -->
            <!-- <th scope="col">Gender</th> -->
            <th scope="col">Phone</th>
            <!-- <th scope="col">Adreess</th> -->
            <th scope="col">Email</th>
            <th scope="col">Active/InActive</th>
            <th scope="col" class="text-center">Assign</th>
            <th scope="col" class="text-center">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of data ; let i= index; '>
            <td>{{i+1}}</td>
            <td>{{list.name}}</td>
            <td>{{list.personalContact}}</td>
            <td>{{list.email}}</td>
            <td>
                <!-- <input class="form-check-input margin" type="checkbox" role="switch"value='list.active' checked
                    [(ngModel)]="list.active" (change)="profilestatus(list)"> -->
                    <!-- Default checked -->
            <div class="custom-control custom-switch text-center">
                <input type="checkbox" class="custom-control-input" id="{{i}}"value='list.active' checked
                [(ngModel)]="list.active" (change)="profilestatus(list)" [disabled] = "!editAccess">
                <label class="custom-control-label" for="{{i}}"></label>
            </div>
            </td>
            <td>
                <button type="submit" class="btn btn-primary" (click)="packageLoad(list)" [disabled] = "!editAccess">Package</button>
            </td>
            <td style='white-space: nowrap'>
                <!-- <button class="btn btn-sm mr-1" [ngClass]="{'btn-success': list.BlockStatus === true, 'btn-danger': list.BlockStatus === false}" (click)="block(list)"><i class="fa fa-ban"></i></button> -->
                <button class="btn btn-danger btn-sm" (click)="delete(list)" [disabled] ="!editAccess"><i class="fa fa-trash"></i></button>
                <button class="btn btn-info btn-sm mx-2" (click)="viewUserInformation(list._id)"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                <button *ngIf="list.reported && showReported" class="btn btn-info btn-sm mx-2" (click)="viewReport(list._id)" ><i class="fa fa-eye"></i></button>
                <button *ngIf="showBlocked" class="btn btn-info btn-sm mx-2" (click)="viewBlocked(list._id)"><i class="fa fa-eye"></i></button>
                <!-- <button class="btn btn-danger btn-sm mx-1" (click)="block(list)"><i class="fa fa-thumbs-up"></i></button>
                <button class="btn btn-danger btn-sm" (click)="block(list)"><i class="fa fa-thumbs-down"></i></button> -->
            </td>
        </tr>
    </tbody>
</table>

<!-- <div *ngFor="let report of userReports">
    <div class="d-flex mb-3" (click)="gotoChat(message._id)" style="cursor: pointer;">
        <div class="p-2 statusIcon">
            <img class="msgImg"
                src="https://images.unsplash.com/photo-1489673446964-e1f989187ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=510&q=80"
                alt="Girl in a jacket" />
            <span class="onlineShow"></span>
        </div>
        <div class="p-2 ms-5">
            <p style="color: #7B8793; font-weight: 600;"> {{message.messages[0].name||"hello"}}
            </p>
            <div class="msgText" style="color: #AFBBC6">
                <div *ngIf="message.messages[message.messages.length-1].message && message.messages[message.messages.length-1].message.startsWith(base64); else elseCurrent">
                    <img [src]="message.messages[message.messages.length-1].message" height="48" width="48"/>
                </div>
                <ng-template #elseCurrent>
                {{message.messages[message.messages.length-1].message}}
                </ng-template>
            </div>
        </div>
        <div class="ms-auto p-2">
            
        </div>
    </div>
</div> -->