<table class="table table-striped ">
    <thead>
        <button class="btn btn-danger btn-sm mr-1 mb-1" (click)="urlrouting()"
        [disabled] = "!editAccess"><i class="fa fa-plus mr-1"></i>New</button>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Promotion</th>
            <th scope="col">description</th>
            <th scope="col" class="text-center">Active/Inactive</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of data ; let i= index; '>
            <td>{{i+1}}</td>
            <td>{{list.name}}</td>
            <td>
                

                {{list.description}}
            </td>
            <td class="text-center">
                <!-- <div class="form-check form-switch">
                <input class="form-check-input" #saveUserNameCheckBox type="checkbox" role="switch"
                    [checked]="saveUsername"
                    (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Show Online</label>
            </div> -->
            {{list.promotionShow}}
        </td>
            <td>
                <button (click)="edit(list)" class="btn-sm btn btn-primary text-center" title="Edit text-bold-400 rounded"
                [disabled] = "!editAccess"><i class="fa fa-edit" ></i></button>
                <button (click)="delete(list)" class="btn-sm btn btn-danger text-center" title="Delete"
                [disabled] = "!editAccess"><i  class="fa fa-trash"></i></button>
                        
            </td>
        </tr>
    </tbody>
</table>