<table class="table table-striped ">
    <thead>
        <a class="btn btn-danger btn-sm mr-1 mb-1" (click)="urlrouting()"><i class="fa fa-plus mr-1"></i>New</a>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Promotion</th>
            <th scope="col">description</th>
            <th scope="col">Active/Inactive</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of data ; let i= index; '>
            <td>{{i+1}}</td>
            <td>{{list.name}}</td>
            <td>
                <!--  <a (click)="edit(list)" class="btn-sm btn btn-primary text-center" title="Edit text-bold-400 rounded"><i
                        class="fa fa-edit"></i></a>-->

                {{list.description}}
            </td>
            <td>
                <!-- <div class="form-check form-switch">
                <input class="form-check-input" #saveUserNameCheckBox type="checkbox" role="switch"
                    [checked]="saveUsername"
                    (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Show Online</label>
            </div> -->
            {{list.promotionShow}}
        </td>
            <td>
                <a (click)="delete(list)" class="btn-sm btn btn-danger text-center" title="Delete"><i
                        class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>